@charset "utf-8";
@import "~bulma/sass/utilities/initial-variables";

#selfIntro {
  .icon {
    width: 100px;
    height: 100px;
    background-image: url('../images/icon.png');
    background-size: 100% 100%;
  }
}
